


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container-register, #container-login {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

#title i {
    margin-right: 10px;
    color: #007BFF;
}

.input {
    position: relative;
    margin-bottom: 20px;
}

.input-addon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.input input {
    width: 87%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.input input:focus {
    border-color: #007BFF;
    outline: none;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.remember-me span {
    font-size: 14px;
    color: #757575;
}

.privacy, .register, .forgot-password {
    text-align: center;
    margin-top: 20px;
}

.privacy a, .register a, .forgot-password a {
    text-decoration: none;
    color: #007BFF;
}

.register button {
    background-color: transparent;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #container-register {
        padding: 20px;
    }
}

.back-to-home {
    text-align: center; /* Center the button */
    margin-top: 10px; /* Adjust the spacing above the button */
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .back-home-btn {
    text-decoration: none;
    font-weight: 1500;
    color: white;
    background-color: rgba(0, 123, 255, 0.8); /* Semi-transparent background */
    padding: 10px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .back-home-btn:hover {
    background-color: rgba(0, 86, 179, 0.9); /* Slightly less transparent on hover */
  }
  
  .input-login {
    text-align: center; /* Center the button */
    margin-top: 10px; /* Adjust the spacing above the button */
    position: absolute;
    
    
  }
  
  .input-login-btn {
    text-decoration: none;
    font-weight: 1500;
    color: white;
    background-color: rgba(0, 123, 255, 0.8); /* Semi-transparent background */
    padding: 13px 178px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .input-login-btn:hover {
    background-color: rgba(0, 86, 179, 0.9); /* Slightly less transparent on hover */
  }